<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>All users</h1>
<br>
<div>
    <table th:border="1">
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>E-mail</th>
            <th>Operations</th>
        </tr>
        <tr th:each="user : ${allUsers}">
            <td th:utext="${user.getName()}"></td>
            <td th:utext="${user.surname}"></td>
            <td th:utext="${user.email}"></td>
            <td>
                <a th:href="@{/updateInfo(userId=${user.id})}" class="update">Update</a>
                <a th:href="@{/deleteUser(userId=${user.id})}" class="delete">Delete</a>
            </td>
        </tr>
    </table>

    <br>
    <a th:href="@{/addNewUser}" class="add">add</a>
    </div>
</body>